body{
    max-width: 1200px;
    margin: auto;}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

#containerMenu{
    font-family: 'Play', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    width: 100%;
    height: 8.75rem;}

#containerMenu > img{
    margin-left: 1rem;}

#containerMenu div,a{
    text-decoration: inherit;
    color: #212121;
    display: flex;
    width: 100%;
    margin: auto 0 auto 1rem;
    text-align: center;}

#containerMenu div,a:hover{
    color: #A8A8A8;}

#containerMenu > a{
    display: inline-block;
    max-width: 12.5rem;
    margin-right: 4rem;
    padding: 0.625rem 0;
    border-radius: 0.625rem;
    border: 0.188rem solid #212121;}

#containerMenu > a:hover{
    border: 0.188rem solid #A8A8A8;}

