* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMenu{
    width: 100%;
    max-width: 1200px;
    height: 7rem;
    padding: 2rem;

    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerMenu .burger-menu i {
    font-size: 2rem;
}

#linkHomeImg{
    text-decoration: none;
}

.containerMenu nav {
    margin: auto 2rem auto auto;
}

.containerMenu nav a{
    text-decoration: inherit;
    color: #212121;
    width: 100%;
    margin: 2rem;
    text-align: center;
}

.containerMenu nav > a:hover{
    color: #A8A8A8;
}

section {
    width: calc(100vw - var(--scrollbar-width));
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container-about__title-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006DB9;
}

.container-about__title {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem 1rem;
}

.container-about__title img {
    height: 2rem;
    margin-left: 1rem;
}

.container-about__title h2 {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 2rem;
    color: #efefef;
    margin-left: 2rem;
}

.container-about__items {
    width: 100%;
    max-width: 1200px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 'd' 'j' 's';
    grid-gap: 2rem;
    justify-items: center;

    padding: 2rem;
}

.container-about__item {
    width: 100%;
    max-width: calc(100vw - var(--scrollbar-width));
    min-height: 25rem;
    border-radius: 1.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 1.5rem;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.container-about__item:nth-child(1) {
    background-color: #C29DFF;
    grid-area: a;
}

.container-about__item:nth-child(2) {
    background-color: #BEFFEF;
    grid-area: d;
}

.container-about__item:nth-child(3) {
    background-color: #9DEDFF;
    grid-area: j;
}

.container-about__item:nth-child(4) {
    background-color: #de5b8f;
    grid-area: s;
}

.container-about__item__title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-about__item__avatar {
    position: relative;
    display: flex;
    justify-content: center;
}

.container-about__item__avatar__image {
    width: 40%;
    border-radius: 50%;
    border: solid 2px #f0f0f0;
}

.container-about__item__avatar__mascot {
    position: absolute;
    width: 13%;
    right: 30%;
    bottom: -5px;
}

.container-about__item__props {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: .8rem;
}

.container-about__item__props h1 {
    font-weight: 400;
}

.container-about__item__social-medias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
}

.container-about__item__social-medias a {
    display: flex;
    justify-content: space-between;
    background-color: white;

    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    
    border-radius: 1.2rem;
    padding: 0.2rem 0.5rem ;
}

.container-about__item__social-medias a:nth-child(1) {
    background-color: #181717;
    color: #f0f0f0;
}

.container-about__item__social-medias a:nth-child(2) {
    margin-left: .5rem;
    background-color: #0A66C2;
    color: #f0f0f0;
}

.container-about__item__description {
    height: 100%;
    min-height: 6rem;
    margin-top: 1rem;
    border-radius: 0.6rem;

    background-color: #f0f0f0;

    padding: 1rem;
}

.container-about__item__description h2 {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
}

.container-about__item__description p {
    font-size: 1rem;
    font-weight: 300;
    color: #555555;
}

/* footer */

footer {
    background-color:#006db9 ;
    color: white;
    display: flex;
    height: 90px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

footer .container-copy {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;
}

/* media querys */

/* Tablet Styles */
@media only screen and (min-width: 768px) {
    .container-about__items {
        width: 100%;
        max-width: 1200px;
    
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'a d' 'j s';
        grid-gap: 2rem;
        justify-items: center;
    
        padding: 2rem;
    }
    
    .container-about__item {
        width: 100%;
        min-height: 25rem;
        border-radius: 1.2rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        padding: 1.5rem;
        box-shadow: 0px 0px 60px rgba(0,0,0,0.05);
        transition: 0.3s;
    }
}