body{
    font-family: 'Play', sans-serif;
    background: linear-gradient(90.14deg, rgba(142, 229, 255, 0.7) 4.1%, #FFFFFF 38.65%, rgba(225, 30, 25, 0.7) 81.52%);
}

#nome-game{
    font-family: 'Slackey', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
}

.container-principal{
    height: 45%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.background-game {
    width: 100%;
    margin: 1.5rem auto;
    position:relative;
}

.card-imagempokemonMedium{
    height: 52%;
    position: absolute;
    margin-left: -98%;
    margin-top: -25%;
    filter: brightness(0);
}

.card-imagempokemonEasy{
    height: 55%;
    margin-left: -250px;
    position: absolute;
    filter: brightness(0);
}

.input-pokemon{
    background-color:#D5EFF6 ;
    font-size: 1.6rem;
    border-radius: 25px;
    border: black solid 2px;
    text-align: center;
    display: block;
    margin:  auto;
    width: 90%;
}


@media (min-width:600px) {
    /* .card-imagempokemonMedium {
        height: 250px;
        margin-left: -30%;
    } 
     */
    .card-imagempokemonEasy {
        height: 250px;
        margin-left: -30%;
    }
}

@media (min-width:800px) {
    
    .background-game {
        width: 80%;  
    }

    .card-imagempokemonMedium{
        height: 52%;
        position: absolute;
        margin-left: -88%;
        margin-top: -20%;
    }    
}