body {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Play', sans-serif;
    background-color: #F6F6F6;;
    cursor: url(../assets/cursores/pokebola.cur), auto;
}

.background-game-desktop , #nome-game-desktop {
    display: none;
}

#nome-game-cell {
    font-family: 'Play',cursive;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.container-principal {
    height: 45%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.background-game {
    width: 100%;
    margin: 10px auto 10px auto;
    position:relative;
}

.card-imagempokemonMedium {
    height: 52%;
    position: absolute;
    margin-left: -98%;
    margin-top: -25%;
    filter: brightness(0);
}

.card-imagempokemonEasy {
    height: 55%;
    margin-left: -250px;
    position: absolute;
    filter: brightness(0);
}

.containers-money-and-score {
    display: flex;
    width: 100%;
}

.container-money , .container-score {
    max-width: 8rem;
    width: 40%;
    height: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
}
.containers-money-and-score {
    width: 80%;
    margin: 5px auto;
}

.container-money{
    background-color: #FFF9C2;
}
.container-score{
    background-color: #8affa7;   
}

#imagem-pokecoin {
    width: 1.2rem;
    margin-left: 0.5rem;
}



.imagem-hint {
    width: 1rem;
    display: inline-block;
    margin-top: 1px;
}

.buttons-hint {
    position: relative;
}

.button-hint {
    margin: 0.4rem auto ;
    display: block;
    width: 80%;
    max-width: 20rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #006DB9;
    font-weight: bold;
    padding: 0.3rem;
    cursor: url(../assets/cursores/pokebolaAberta.cur), auto;
}


.hidden-hint{
    opacity:0;
}

.button-hint:hover {
    background-color: #FB5555;
}

.text-hint {
    font-size: 1rem;
    display: inline-block;
}



.form-input-pokemon {
    background: #F0F0F0 ;
    border-radius: 10px;
    border: #999 solid 2px;
    margin:auto;
    max-width: 20rem;
    width: 80%;
    height: 2.5Rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-pokemon {
    background-color:#F0F0F0 ;
    border: none;
    font-size: 1.4rem;
    max-width: 17.5rem;
    display: inline-block;
    width: 90%;
}

.button-send {
    background: #006DB9;
    border: none;
    height: 2.5rem;
    font-weight: bold;
    width: 2.5rem;
    border-radius: 25%;
    color: rgb(255, 255, 255);
}

.button-used {
    background-color: #dddddd;
    color: black;
}
.button-used:hover {
    background-color: #dddddd;
}

.back-to-home {
    width: 22%;
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: url(../assets/cursores/pokebolaAberta.cur), auto;
  }

.back-to-home:hover {
    background-color: #999;
}  
.showtime {
    opacity: 1 !important;
    visibility: visible !important;
}

.modal-exit {
    background-color: #efefef;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 72px rgba(0, 0, 0, 0.18);
    box-sizing: border-box;
    color: #303030;
    display: inline-block;
    width: 90%;
    max-width: 400px;
    opacity: 0;
    transform: translateY(24px);
    transition: transform 0.14s, opacity 0.14s ease-in-out;
    visibility: hidden;
    position: fixed; /* Stay in place */
    left: 5%;
    top: 40%;
    z-index: 10;
}

.modal-exit.showtime {
    transform: translateY(0);
}

.modal-exit-content {
    padding: 24px;
    text-align: center;
}

.modal-exit-title {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.modal-exit-desc {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.6;
}

.modal-exit-button {
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: .7em;
    font-weight: 600;
    letter-spacing: .09em;
    padding: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.14s, color 0.14s ease-in-out;
    width: 50%;
}

#modal-cancel {
    background-color: #FFA99D;
}

#modal-confirm {
    background-color: #BEFFEF;
}

.modal-exit-button:last-child {
    border-right: none;
}

.modal-exit-button:hover {
    background-color: #fff;
    color: #121212;
}

.skip-and-exit {
    width: 80%;
    max-width: 20rem;
    position: relative;
    margin:auto;
}

.skip-button {
    width: 60%;
    background-color: #0C4C78;;
    border-radius: 4px;
    margin-right: 8%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    cursor: url(../assets/cursores/pokebolaAberta.cur), auto;
}

.skip-button:hover {
    background-color: #999;
}

@media (min-width:600px) {
    /* .card-imagempokemonMedium {
        height: 250px;
        margin-left: -30%;
    } 
     */
    .card-imagempokemonEasy {
        height: 250px;
        margin-left: -30%;
    }
}

@media (min-width: 768px) {

    .containers-money-and-score {
        width: 80%;
        margin: 10px auto;
    }

    .container-money , .container-score {
        padding: 0.5rem;
        margin: auto;
    }

    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
  }
  .modal-exit {
    max-width: 50%;
    width: 50%;
    left: 25%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media (min-width:1024px) {
    .text-hint {
        font-size: 1.4rem;
        display: inline-block;
    }
    .button-hint {
        margin: 1rem auto ;
        max-width: 20rem;
        height:4.5rem;
        border: none;
        border-radius: 10px;
        cursor: url(../assets/cursores/pokebolaAberta.cur), auto;
    }

    .skip-button {
        margin:auto;
        border-radius: 10px;
        font-size: 1.4em;
        padding: 1.3rem;
    }

    .back-to-home {
        font-weight: bold;
        margin:auto;
        border-radius: 10px;
        font-size: 1.4em;
        padding: 1.3rem;
      }

    .containers-money-and-score {
        width: 80%;
        margin: auto;
    }

    .container-money , .container-score {
        padding: 1rem;
        font-size: 1.5rem;
        margin: 3rem auto;
    }

    #nome-game-cell {
        display: none;
    }

    #nome-game-desktop{
    font-family: 'Play',cursive;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
    }

    .body{
        background-color: #fff;
    }

    .background-game-desktop {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        display: unset;
    }
    
    .background-game { 
        display:none;
    }

    .responsivite {
        margin-top: 2rem;
        display:flex;
        min-width: 100%;
    }

    .responsivite-left{
        min-width: 70%;
    }

    .responsivite-right{
        min-width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    
    .form-input-pokemon  {
        margin:2rem auto;
        padding: 1rem;
        font-size: 2.5rem;
    }

    /*
    left: 40%;
    top: 40%;*/

    .modal-exit {
        width: 24%;
        left: 38%;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }


    #nome-game {
        display: none;
    }

    .card-imagempokemonMedium{
        position: absolute;
        height: 35vh;
        z-index: 10;
        margin-left: -45%;
        margin-top: 13% ;

    }    
}   