*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    cursor: url(../assets/cursores/pokebola.cur), auto;}

a{
    cursor: url(../assets/cursores/pokebolaAberta.cur), auto;}

.containerMenu{
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    margin: auto;
    max-width: 1200px;
    height: 8.75rem;}

#linkHomeImg{
    margin: auto 1rem;
    border: none;
    text-decoration: none;
}

.containerMenu nav {
    margin: auto ;
}

.containerMenu nav a{
    text-decoration: inherit;
    color: #212121;
    width: 100%;
    margin: 2rem;
    text-align: center;}

.containerMenu nav > a:hover{
    color: #A8A8A8;}

#responsiveAp{
    background-color: #FFD74E;
    height: 31rem;
    width: 100%;}

.containerAp{
    max-width: 1200px;
    height: 31rem;
    margin: auto;
    font-size: 20px;
    position: relative;
    font-family: 'Play', sans-serif;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:    "i a";
    align-items: center;}

.containerAp img{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 6rem;
    grid-area: i;}

.containerAp div{
    position: absolute;
    max-width: 450px;
    grid-area: a;
}
    
.containerAp div a{
    background-color: #006DB9;
    display: block;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    max-width: 220px;
    font-size: 22px;
    text-align: center;
    padding: 20px;
    margin: 1.75rem 0;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;}

.containerAp div a:hover{
    background-color: #FB5555;}

#responsiveRules{
    background-color: #006DB9;}

.containerRules{
    font-family: 'Noto Sans';
    font-size: 1.75rem;
    color: #FFFFFF;
    max-width: 1200px;
    height: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.containerRules h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 3.15rem;
    padding-top: 4rem;
    text-transform: uppercase;}

.rulesGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:    "img text1"
                            "img text2"
                            "img text3";}

.rulesGrid img{
    grid-area: img;
    margin-top: 50%;
}

.text1{grid-area: text1;
     margin: auto 6rem auto 0;}

.text2{
    grid-area: text2;
    display: inline-flex;
    text-align: right;}

.text3{grid-area: text3;
    margin: auto 6rem auto 0;}

.text1, .text2, .text3{
    align-self: center;}

.text1::before{
    content: '1';
    font-size: 4rem;
    font-weight: 1000;
    float: left;
    border: 2px solid #FFFFFF;
    border-radius: 38px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;}

.text2::after{
    content: '2';
    font-size: 4rem;
    font-weight: 1000;
    border: 2px solid #FFFFFF;
    border-radius: 38px;
    min-width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7.5rem 0 3rem;}

.text3::before{
    content: '3';
    font-size: 4rem;
    font-weight: 1000;
    float: left;
    border: 2px solid #FFFFFF;
    border-radius: 38px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;}

#responsiveVideo{
    background-color: #FFD84F;}

.containerVideo{
    position: relative;
    font-family: 'Noto Sans';
    max-width: 1200px;
    height: 570px;
    margin: auto;
    font-size: 20px;
    color: white;}

.containerVideo > div{
    position: absolute;
    width: 700px;
    transform: translate(250px, -55%);
}

.containerVideo div > video{
    width: 700px;
    border-radius: 20px;
    margin-top: 1rem;
    box-shadow: 0px 44px 63px -12px rgba(0,0,0,0.57);}

.containerVideo img{
    transform: translate(700px, 50%);
}

.container-copy p {
    font-family: Ubuntu;}

#responsiveCarrosel {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.containerCarrosel > div{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;}

#responsiveCarrosel > div{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;}

#responsiveCarrosel div > h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 3.15rem;
    text-transform: uppercase;}

#responsiveCarrosel div > a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-right: 6rem;
    align-self: flex-end;
    text-align: right;
    text-decoration: none;
    color: #6F6F6F;
    transition: 0.2s;}

#responsiveCarrosel div > a:hover{
    color: black;}

.containerCarrosel {
    display: flex;
    position: relative;
    height: 57vh;
    width: 100%;
    margin-bottom: 5rem;
}

/* Carrosel */

.gallery {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 0;
    width: 100%;
    height: 57vh;
    overflow: hidden;
    align-self: center;
}

.gallery::before, .gallery::after {
    display: block;
    content: "";
    position: relative;
    top: 0px;
    width: 0%;
    height: 100%;
    z-index: 3;
}

.gallery::before {
    left: 0px;
    background-color: transparent;
}

.gallery::after {
    right: 0px;
    background-color: transparent;
}

.gallery__prev, .gallery__next {
    position: absolute;
    top: 50%;
    z-index: 4;
    width: 40%;
    height: 100%;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    cursor: pointer;
}

.gallery__prev {
    left: 0px;
}

.gallery__next {
    left: 100%;
}

.gallery__stream {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.gallery__item {
    position: absolute;
    padding-top: 2rem;
    width: 25%;
    min-width: 12rem;
    text-align: center;
    transition: all 1s ease 0s;
    border-radius: 1rem;
}

.gallery__item:nth-child(1) {
    left: 0px;
    z-index: 1;
    transform: translateX(-100%) scale(0.8);
}

.gallery__item:nth-child(2) {
    left: 0px;
    opacity: 0.3;
    z-index: 2;
    transform: translateX(-50%) scale(0.8);}

.gallery__item:nth-child(3) {
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);}

.gallery__item:nth-child(4) {
    left: 100%;
    opacity: 0.3;
    z-index: 2;
    transform: translateX(-50%) scale(0.8);}

.gallery__item:nth-child(n+5) {
    left: 100%;
    z-index: 1;
    transform: scale(0.8);}

.card-nome {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;}

.card-imagempokemon {
    padding-top: 10px;
    width: 70%;
    margin: 5%;
}

.card-code-pokemon {
    background-color: rgba(167, 167, 167, 0.52);
    font-weight: 500;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 0.1rem 0.4rem;}

.card-type-pokemon {
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 20px 0px;}

.normal {
    background-color: lightgrey;}
.water {
    background-color: rgb(157, 237, 255);}
.fire {
    background-color: rgb(255, 169, 157);}
.grass {
    background-color: rgb(190, 255, 239);}
.electric {
    background-color: rgb(249, 209, 30);}
.bug {
    background-color: rgb(185, 212, 70);}
.psychic {
    background-color: rgb(255, 249, 190);}

/* footer */

footer{
    display: flex;
    height: 90px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

footer .container-copy {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;}

#back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: url(../assets/cursores/pokebolaAberta.cur), pointer;
}

/* medias */

@media screen and (max-width: 1200px) {

    .containerAp img{
        left: 3rem;
    }

    .containerAp div{
        margin-left: 3rem;
    }

    #responsiveCarrosel h1 {
        font-size: 3rem;
    }

    .containerCarrosel {
        display: flex;
        position: relative;
        height: 44vh;
        width: 100%;
        margin-bottom: 5rem;
    }

    .gallery {
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        right: 0;
        width: 100%;
        height: 45vh;
        overflow: hidden;
        align-self: center;
    }

    .containerRules {
        font-size: 1.5rem;
        height: 1150px;
    }
    
    .rulesGrid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 25vh 25vh 25vh;
        grid-template-areas:    "img text1"
                                "img text2"
                                "img text3";
        }
    
    .containerRules h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        padding-top: 4rem;
    }
    
    .rulesGrid img {
        margin-top: 20%;

    }
    
    .text1 {
        margin: auto 4rem auto 0;
    }
    
    .text2 {
        margin: auto 0 auto 0.5rem;
    }
    
    .text3 {
        margin: auto 4rem auto 0;
    }
    .text1::before, .text3::before{
        width: 125px;
        height: 125px;
        margin-right: 2.5rem;
        border-radius: 30px;
    }
    
    .text2::after{
        min-width: 125px;
        height: 125px;
        margin: 0 5rem 0 2.5rem;
        border-radius: 30px;}
    
    .containerVideo div{
        width: 625px;
        position: relative;
        transform: translateY(-55%);
        margin-left: auto;
        margin-right: auto;
    }

    .containerVideo div video{
        position: relative;
        width: 625px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .containerVideo img{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -17.5%);
        width: 425px;
    }
}

@media screen and (max-width: 992px) {
    
    .containerAp img{
        left: 1rem;
    }

    .containerAp div{
        margin-left: 5rem;
        max-width: 18rem;
        font-size: 19px;
    }

    .containerCarrosel {
        display: flex;
        position: relative;
        height: 38vh;
        width: 100%;
        margin-bottom: 5rem;
    }

    #responsiveCarrosel h1 {
        font-size: 3rem;
    }

    .gallery {
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        right: 0;
        width: 100%;
        height: 42vh;
        overflow: hidden;
        align-self: center;
    }

    .containerRules {
        font-size: 1.2rem;
        height: 1200px;
    }
    
    .containerRules h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding-top: 4rem;
    }

    .rulesGrid > div {
        align-items: center;
    }

    .containerRules {
        font-size: 1.25rem;
        height: 1000px;
    }
    
    .rulesGrid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 25vh 25vh 25vh;
        grid-template-areas:    "img text1"
                                "img text2"
                                "img text3";
        }
    
    .rulesGrid img {
        margin-top: 20%;
        width: 40vh;

    }
    
    .text1, .text3 {
        margin: auto 1.5rem auto 0;
    }
    
    .text2 {
        margin: auto 0 auto 0.5rem;
    }

    .text1::before, .text3::before{
        width: 110px;
        height: 110px;
        margin-right: 1.5rem;
        font-size: 50px;
        border-radius: 25px;
    }
    
    .text2::after {
        min-width: 110px;
        height: 110px;
        margin: 0 1.5rem 0 1.5rem;
        font-size: 50px; 
        border-radius: 25px;   
    }

    .containerVideo {
        height: 440px;
    }

    .containerVideo div{
        font-size: 18px;
        width: 525px;
        position: relative;
        transform: translateY(-55%);
        margin-left: auto;
        margin-right: auto;
    }

    .containerVideo div video{
        position: relative;
        width: 525px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .containerVideo img{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -17.5%);
        width: 320px;
    }
}

@media screen and (max-width: 812px) {

    .containerMenu {
        height: 25vh;
    }
    
    .containerMenu > nav {
        display: none;
    }

    .containerMenu a > img{
        width: 10rem;
        margin: auto 0.75rem;
    }

    #responsiveAp {
        height: 80vh;
    }

    .containerAp img{
        height: 75vh;
        margin-left: 20%;
    }

    .containerAp {
        height: 80vh;
    }

    .containerAp div{
        text-align: center;
        font-size: 16px;
        width: 40vw;
        margin: 0;
    }

    .containerAp div > a {
        padding: 0.75rem;
        font-size: 19px;
        margin: 1.5rem auto;
    }

    .containerCarrosel {
        height: 80vh;
    }

    #responsiveCarrosel > div{
        margin: 2rem 2rem 0 2rem;
    }

    #responsiveCarrosel div > h1{
        font-size: 2rem;
    }

    #responsiveCarrosel div > a{
        font-size: 1.25rem;
        margin-right: 0;
    }

    .gallery {
        height: 100vh;
    }

    .containerRules{
        font-size: 1.5rem;
        height: 210vh; 
    }
    
    .containerRules h1{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 2rem 0 0 2rem;
    }
    
    .rulesGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10vh;
        grid-template-areas:    "text1"
                                "text2"
                                "text3";}
    
    .rulesGrid img{
        display: none;
    }
    
    .text1, .text3{
        margin-right: 1.5rem;
    }
    
    .text2{
        margin-left: 1.5rem;
    }
    
    .text1, .text2, .text3{
        align-self: center;
        font-size: 18px ;
    }
    
    .text1::before, .text3::before{
        font-size: 2rem;
        border-radius: 20px;
        width: 100px;
        height: 100px;
        margin: 0 1.5rem 0 1.5rem;
    }
    
    .text2::after{
        font-size: 2rem;
        border-radius: 20px;
        min-width: 100px;
        height: 100px;
        margin: 0 1.5rem 0 1.5rem;
    }

    .containerVideo{
        height: 130vh;   
    }
    
    .containerVideo > div{
        width: 100%;
        transform: translateY(-50%);
    }
    
    .containerVideo div h2{
        text-align: center;
    }

    .containerVideo div > video{
        width: 100%;
        border-radius: 0;
    }

    .containerVideo img{
        height: 200px;
        margin: 0px -50% 0px 0px;
        transform: translate(-50%, 15%);  
    }

    #back-to-top {
        display: none;
    }

}

@media screen and (max-width: 667px){

    .containerMenu {
        height: 20vh;
    }

    .containerMenu a > img{
        width: 10rem;
        margin: auto 0.75rem;
    }

    #responsiveAp {
        height: 80vh;
    }

    .containerAp img{
        height: 72.5vh;
    }

    .containerAp {
        height: 80vh;
    }

    .containerAp div{
        text-align: center;
        font-size: 16px;
        width: 40vw;
        margin: 0;
    }

    .containerAp div > a {
        padding: 0.75rem;
        font-size: 19px;
        margin: 1.5rem auto;
    }

    .containerCarrosel {
        height: 80vh;
    }

    #responsiveCarrosel > div{
        margin: 2rem 2rem 0 2rem;
    }

    #responsiveCarrosel div > h1{
        font-size: 2rem;
    }

    #responsiveCarrosel div > a{
        font-size: 1.25rem;
        margin-right: 0;
    }

    .gallery {
        height: 100vh;
    }

    .containerRules{
        font-size: 1.5rem;
        height: 210vh;
        
    }
    
    .containerRules h1{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 2rem 0 0 2rem;

    }
    
    .rulesGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10vh;
        grid-template-areas:    "text1"
                                "text2"
                                "text3";}
    
    .rulesGrid img{
        display: none;
    }
    
    .text1, .text3{
        margin-right: 1.5rem;
    }
    
    .text2{
        margin-left: 1.5rem;
    }
    
    .text1, .text2, .text3{
        align-self: center;
        font-size: 18px ;
    }
    
    .text1::before, .text3::before{
        font-size: 2rem;
        border-radius: 20px;
        width: 100px;
        height: 100px;
        margin: 0 1.5rem 0 1.5rem;
    }
    
    .text2::after{
        font-size: 2rem;
        border-radius: 20px;
        min-width: 100px;
        height: 100px;
        margin: 0 1.5rem 0 1.5rem;
    }

    .containerVideo{
        height: 130vh;   
    }
    
    .containerVideo > div{
        width: 100%;
        transform: translateY(-50%);
    }
    
    .containerVideo div h2{
        text-align: center;
    }

    .containerVideo div > video{
        width: 100%;
        border-radius: 0;
    }

    .containerVideo img{
        height: 200px;
        margin: 0px -50% 0px 0px;
        transform: translate(-50%, 15%);  
    }


    #back-to-top {
        display: none;
    }
}

@media screen and (max-width: 380px) {

    .containerMenu {
        display: none;
    }

    #responsiveAp {
        height: 85vh;  
    }

    .containerAp {
        display: flex;
        align-items: baseline;
        justify-content: center;
        height: 80vh;  
    }

    .containerAp img{
        height: 45vh;
        left: auto;
    }

    .containerAp div {
        margin: 2rem auto;
        text-align: center;
        min-width: 80%;
        font-size: 17px;
    }

    .containerAp div a{
        margin: 1.5rem auto;
        padding: 0.8rem;
        font-size: 18px;
    }

    #responsiveCarrosel > div{
        margin: 2rem 1rem  0 1rem;
    }

    #responsiveCarrosel div > h1{
        font-size: 2rem;
    }

    #responsiveCarrosel div > a{
        font-size: 1rem;
        margin-right: 0;
        align-self: center;
    }

    .containerCarrosel {
        height: 45vh;
    }

    .gallery {
        height: 60vh;
    }

    .containerRules{
        font-size: 1.5rem;
        height: 50rem;
        
    }
    
    .containerRules h1{
        font-size: 2rem;
        margin-bottom: 3rem;
        padding: 2rem 0 0 2rem;

    }
    
    .rulesGrid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 5vh;
        grid-template-areas:    "text1"
                                "text2"
                                "text3";}
    
    .rulesGrid img{
        display: none;
    }
    
    .text1, .text3{
        margin-right: 1.5rem;
    }
    
    .text2{
        margin-left: 1.5rem;
    }
    
    .text1, .text2, .text3{
        align-self: center;
        font-size: 16px ;
    }
    
    .text1::before, .text3::before{
        font-size: 2rem;
        border-radius: 20px;
        width: 85px;
        height: 85px;
        margin: 0 1.5rem 0 1.5rem;
    }
    
    .text2::after{
        font-size: 2rem;
        border-radius: 20px;
        min-width: 85px;
        height: 85px;
        margin: 0 1.5rem 0 1.5rem;
    }

    .containerVideo{
        height: 350px;   
    }
    
    .containerVideo > div{
        width: 100%;
        transform: translateY(-50%);
    }
    
    .containerVideo div h2{
        text-align: center;
    }

    .containerVideo div > video{
        width: 100%;
        border-radius: 0;
    }

    .containerVideo img{
        height: 200px;
        margin: 0px -50% 0px 0px;
        transform: translate(-50%, -10%);  
    }
    
    footer p{
        margin: 0 2rem 0 2rem;
    
        font-size: 15px;
    }

    #back-to-top {
        display: none;
    }

    #menu-phone{
      display: flex;
    }

    #linkHomeImg{
        margin: auto;
    }

  

}

/* MENU CELULAR */


#check{
    display: none;
}

#icone{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    padding: 12px;
}

.bar{
    background-color: #212121;
    height: 0.188rem;
    width: 1.5rem;
    margin-top: 0.2rem;
}

.barra{
    position: absolute;
    background-color: #FB5555;
    height: 100%;
    width: 50%;
    transition: all 0.2s linear;
    left: -18.75rem;
}

.barra nav{
    position: absolute;
    width: 100%;
    top: 3.125rem;
}

.barra nav > a{
    text-decoration: none;
    color: white;
}

.linkvid{
    background-color: #FB5555;
    padding: 0.938rem;
    font-family: 'Play', sans-serif;
    font-size: 1rem;
    transition: all 0.2s linear;
    border-bottom: 1px solid white;
    opacity: 0;
    margin-top: 12.5rem;
}

#check:checked ~ .barra{
    transform: translateX(18.75rem);
}

#check:checked ~ .barra nav a .linkvid{
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
}